In [2]:
# Library
import pandas as pd
import csv

In [6]:
data = pd.read_csv('Data_Nasabah.csv')

In [8]:
print("Total data:", data.shape)

Total data: (100, 1)

In [9]:
print("Type data:", data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
 #   Column                                                                                                                                                Non-Null Count  Dtype
---  ------                                                                                                                                                --------------  -----
 0   nasabah_id;umur;jenis_kelamin;pendapatan;saldo_rata_rata;jumlah_transaksi;jenis_produk;frekuensi_kunjungi_cabang;pengguna_mobile_banking;skor_kredit  100 non-null    object
dtypes: object(1)
memory usage: 928.0+ bytes
Type data: None

In [11]:
print("Statistic:", data.describe())

Statistic:        nasabah_id;umur;jenis_kelamin;pendapatan;saldo_rata_rata;jumlah_transaksi;jenis_produk;frekuensi_kunjungi_cabang;pengguna_mobile_banking;skor_kredit
count                                                 100
unique                                                100
top     N001;22;Perempuan;5800000;1508000;19;tabungan;...
freq                                                    1

In [12]:
print("First column data:", data.head())

First column data:   nasabah_id;umur;jenis_kelamin;pendapatan;saldo_rata_rata;jumlah_transaksi;jenis_produk;frekuensi_kunjungi_cabang;pengguna_mobile_banking;skor_kredit
0  N001;22;Perempuan;5800000;1508000;19;tabungan;...
1  N002;64;Perempuan;5700000;1254000;9;kartu_kred...
2  N003;27;Perempuan;2950000;590000;12;tabungan;1...
3  N004;34;Perempuan;3100000;186000;16;deposito;5...
4  N005;45;Laki-Laki;6700000;1474000;15;kartu_kre...

In [13]:
for column in data.columns:
    print(f"{column}: {data[column].nunique()}")

nasabah_id;umur;jenis_kelamin;pendapatan;saldo_rata_rata;jumlah_transaksi;jenis_produk;frekuensi_kunjungi_cabang;pengguna_mobile_banking;skor_kredit: 100

In [14]:
# Cleansing data
new_data = pd.read_csv("Data_Nasabah.csv", delimiter=';')

In [21]:
print(new_data.shape)
print(new_data.info())

(100, 10)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   nasabah_id                 100 non-null    object
 1   umur                       100 non-null    int64
 2   jenis_kelamin              100 non-null    object
 3   pendapatan                 100 non-null    int64
 4   saldo_rata_rata            100 non-null    int64
 5   jumlah_transaksi           100 non-null    int64
 6   jenis_produk               100 non-null    object
 7   frekuensi_kunjungi_cabang  100 non-null    int64
 8   pengguna_mobile_banking    100 non-null    object
 9   skor_kredit                100 non-null    int64
dtypes: int64(6), object(4)
memory usage: 7.9+ KB
None